<div class="card w-75 opacity-75" style="margin: 0px auto; margin-top: 300px;" >

    <div class="card-header">
        
        <h5 class="card-title my-3">Login page</h5>

    </div>
        
    <div class="card-body">
        
        <form (ngSubmit)="onSubmit()">

            <input name="username" class="form-control my-4 w-75" placeholder="Username" [(ngModel)]="user.username">

            <input name="password" class="form-control my-4 w-75" type="password" placeholder="Passwword" [(ngModel)]="user.password">

            <button class="btn btn-primary my-2" type="submit">Login</button>

        </form>

    </div>

    
</div>